.about{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 40px;
    color: #e6ead5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .about-heading {
        display: flex;
        justify-content: center;

        font-weight: 500;
        font-size: 40px;
    }
    .flipcard-at-about{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
    }

    
@media (max-width: 768px) {
    .about {
        margin-left: 20px;
        margin-right: 20px;
    }
  }